<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="Console" name="consoleLogger" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target name="fileLogger"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
             layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/${shortdate}.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="3" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="fileLogger" />
        <logger name="**" minlevel="Warn" writeTo="consoleLogger" />
    </rules>
</nlog>